body {
    align-content: center;
    background-color: #556B2F;
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
}


table {
    border: 0px;
    display: inline;
}


th, td {
    padding-top: 6px;
    padding-bottom: 6px;
}


h1 {
    text-decoration: underline;
}


#hexProp {
    font-family: monospace;
}